
<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1> Mon super site de gossip, depuis le dossier views ! </h1>
    <h2> La liste des potins arrive bientôt, en attendant :</h2>
    <a href="/gossips/new/">Fais nous un gros potin</a>
  </body>
</html>